* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  background-color: #1a1a1a;
  scroll-behavior: smooth;
}
header {
  height: 36rem;
}
img {
  width: 100%;
  height: auto;
}
.nosel {
  user-select: none;
}
.lino {
  list-style: none;
}
a:visited{
  color: black;
}
/* Navigation Bar */
nav {
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.418);
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  z-index: 1;
}
nav h2 {
  float: left;
  margin-left: 1.5em;
  padding: 0.5em;
  color: white;
  font-size: xx-large;
}
nav ul {
  float: right;
}
nav li {
  font-size: xx-large;
  float: left;
  margin: 0.5em 0;
}
nav li a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  padding: 0.5em;
}
nav li a:hover {
  background: #1a1a1a;
}
/* nav li:hover {
  background:#1a1a1a;
} */
.active {
  background: #044a46;
}
/* Header */
header {
  padding-top: 70.04px;
}
header .bg-image {
  position: absolute;
  width: 100%;
  height: 36rem;
  background: url("img/header.jpg") center;
  background-size: cover;
  filter: brightness(60%);
  z-index: -1;
}
header .text {
  padding-top: 10rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}
header .text p {
  padding: 2rem;
}
header .text a {
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: #1a1a1a;
  border-radius: 5px;
  transition: 0.125s;
  cursor: default;
}
header .text a:hover {
  background-color: white;
  color: #1a1a1a;
}
/* Content */
.section-a {
  padding: 5rem 0rem;
  background-color: white;
}
.section-a .content {
  text-align: center;
  font-size: 2rem;
}
.section-a p {
  padding: 1rem;
}
.section-b {
  text-align: center;
  margin: 1%;
}
.section-b a {
  text-decoration: none;
  cursor:default;
}
.section-b li {
  text-align: center;
  list-style-type: none;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}
.desc {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}
.section-c {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.section-c h3 {
  padding: 1rem;
}
.section-d h3 {
  padding: 1rem;
}
.contact,
.contact a {
  background-color: #20b2aa;
  text-decoration: none;
  color: black;
  height: 150px;
}
.section-d {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.about {
  background-color: #044a46;
  color: white;
  height: 150px;
}
.about p {
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .section-b li {
    width: 29%;
    margin: 1%;
    display: inline-block;
    transition: 0.25s;
    transform-origin: center;
  }
  .section-b li:hover {
    transform: scale(1.02);
  }
  .section-b .list {
    margin: 2%;
  }
  .section-c,
  .section-d {
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 500px) {
  .contact,
  .about {
    padding: 2rem;
    font-size: 2rem;
  }
}
